<div class="container">
  <div class="row">
    <br>
    <p>Please enter the city and state (optional) to find out the current weather conditions or click on one of your recent searches.</p>
    <br>
    <ng-container *ngFor="let key of getLsItems">
        <button class="weather" (click)="weatherOnClick(key);">{{key}}</button>
        <button (click)="weatherRemoveOnClick(key);"><span style="color:red;">X</span></button>
    </ng-container>
    <br><br>
    </div>
    <div class="row">
      <label for="txtCity">City*:&nbsp;</label>
      <input type="text" id="txtCity" name="txtCity" (input)="onCityChanged($event.target.value)" (keyup.enter)="searchOnClick();">
    </div>
    <div class="row">
      <label for="txtState">State:</label>
      <input type="text" id="txtState" name="txtState" (keyup.enter)="searchOnClick();">
      <input type="button" id="btnSearch" name="btnSearch" value="Search" [disabled]="disableSearch" (click)="searchOnClick();"><br>
    </div>

    <br>
    <ng-container *ngIf="weatherSearchInfo != null">
      Current weather conditions are:<br>
      <br>
      Temperature: {{weatherSearchInfo?.main.tempMain}}
      <br>
      Feels Like: {{weatherSearchInfo?.main.tempFeelsLike}}
      <br>
      Max: {{weatherSearchInfo?.main.tempMax}}
      <br>
      Min: {{weatherSearchInfo?.main.tempMin}}
      <br>
      Humidity: {{weatherSearchInfo?.main.humidity}}%
    </ng-container>
    <div *ngIf="!errorMessage?.value" style="color:red;">
      {{errorMessage}}
    </div>
</div>
