/* You can add global styles to this file, and also import other style files */
button.weather {
  padding: 0.6em 2em;
  border-radius: 8px;
  color: #fff;
  background-color: #1976d2;
  font-size: 0.9em;
  border: 0;
  cursor: pointer;
  margin: 0.5em;
}
